<div class="devise-bg">
  <div class="devise-card">
   <div class="text-white">
	<h2 class=" text-warning">Resend confirmation instructions</h2>

	<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
	  <%= render "devise/shared/error_messages", resource: resource %>

	  <div class="field from-group">
	    <% f.label :email %><br />
	    <%= f.email_field :email, autofocus: true,class:"form-control mb-4",autocomplete: "email",placeholder:"Email",value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
	  </div>

	  <div class="actions">
	    <%= f.submit "Resend confirmation instructions",class:"btn btn-outline-danger btn-sm mb-4" %>
	  </div>
	<% end %>

<%= render "devise/shared/links" %>
</div>
 
  </div>
</div>

