<div class="container">
  <h1 class="mb-3 text-danger text-center pt-2">Store</h1>

  <table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Color</th>
        <th>Size</th>
        <th>Price</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @stores.each do |store| %>
        <tr>
          <td><%= store.name %></td>
          <td><%= store.brand %></td>
          <td><%= store.model %></td>
          <td><%= store.color %></td>
          <td><%= store.size %></td>
          <td><%= store.price %></td>
          <td><%= store.description %></td>
          <td><%= link_to 'Show', store,class:"btn btn-outline-success btn-sm" %></td>
          <td><%= link_to 'Edit', edit_store_path(store),class:"btn btn-outline-info btn-sm" %></td>
          <td><%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-outline-danger btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Store', new_store_path,class:"btn btn-outline-warning" %>

</div>