<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title>Shoeniverse</title>
  </head>
  <body>
    <% if user_signed_in? %>
      <% $em1=current_user.email %>
    <% end %>
    <%= render "layouts/header"%>
    <div class="yield-container" >
      <% if notice %>
        <p class="alert alert-success mb-0 text-center pt-1 pb-1 bg-secondary text-light border-0 rounded-0"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger mb-0  pt-1 pb-1 text-center bg-secondary text-light border-0 rounded-0"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  </body>
</html>

